@page
@model ContactList.Pages.IndexModel

@{
    ViewData["Title"] = "Список контактов";
}

<h1>Список контактов</h1>

<form>
    <p>
        Поиск: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Поиск" />
        По дате рождения: <input type="date" asp-for="SearchDate" />
        <input type="submit" value="Поиск по дате" />
    </p>
</form>

<p>
    <a asp-page="Create">Создать контакт</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ContactModel[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactModel[0].Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactModel[0].Patronymic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactModel[0].Birthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactModel[0].Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactModel[0].Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactModel[0].Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactModel[0].DopPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactModel[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactModel[0].DopEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactModel[0].Skype)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactModel[0].DopSkype)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactModel[0].Other)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ContactModel) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patronymic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DopPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DopEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Skype)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DopSkype)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Other)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Редактировать</a> 
                <a asp-page="./Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
